* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: lavender;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

#guestbook-form {
  width: 60%;
  padding-bottom: 1.5rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

span {
  color: crimson;
}

button {
  cursor: pointer;
}

#comments-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 55vh;
  overflow: auto;
  gap: 1rem;
}

.message-title {
  display: flex;
  justify-content: space-evenly;
  padding: 2px;
  border-top: solid 2px black;
}

.comment-div {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.5rem;
}

.user-div {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.user-img {
  width: 1.25rem;
  height: auto;
}

@media (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  #guestbook-form {
    width: 90%;
  }

  #comments-container {
    width: 90%;
    height: 65vh;
  }
}
